.container-body{
  /* Définissez votre dégradé ici */
  background: linear-gradient(to right, #070707, #2575fc);
  /* S'assurer que l'arrière-plan couvre toute la page */
  min-height: 100vh; 
  background-attachment: fixed;
  /* Ajouter pour que le dégradé s'adapte à toute la page même avec scrolling */
  background-repeat: no-repeat;
  background-size: cover;


}


.logo-container {
text-align: center; /* Centre le logo horizontalement */
margin-bottom: 1em; /* Ajoute de l'espace en dessous du logo */
}

.logo-container img {
max-width: 150px; /* Ajustez la taille comme vous le souhaitez */
height: auto; /* Garde le ratio d'aspect de l'image */
}
.form-container {
  background: rgba(255, 255, 255, 0.267);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(1, 162, 255);
  max-width: 400px;
  margin: auto;
  
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

.form-group input {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 5px;
  background-color: #5e72e4;
  color: white;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #324cdd;
}

.form-footer {
  text-align: center;
  margin-top: 1em;
}

.form-footer a {
  color: #00bcf5;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.input-hint {
  font-size: 0.8em;
  color: #6c757d;
  margin-top: 0.25em;
}

/* Vous devrez ajuster le placement du formulaire selon votre mise en page globale. */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #5e72e4;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 2em;
}