<!-- Template Forms -->

<legend>Register</legend>


<!-- Bootstrap -->
<!-- ajout du container pour les marge auto et (mt-5= margintop=5) -->
<div class="container mt-5">
  <div class="card">
    <div class="card-header text-white bg-info">S'enregistrer</div>
    <div class="card-body">
      <!-- ngForm est une balise comprise dans notre formsModule -->
      <!-- novalidate pour ne pas rentrer en conflit avec required -->
      <form novalidate (ngSubmit)="saveData(registerForm)" #registerForm="ngForm">
        <!-- pour utiliser les ligne  -->
        <div class="form-row">
          <!-- col=colone ==> mb=margebutton-3 -->
          <div class="col-md-6 mb-3">
            <label for="lastName">Nom</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nom"
              [(ngModel)]="user.lastName"
              name="lastName" 
              required 
              #lastNameVar="ngModel"
              [ngClass]="{'is-invalid':lastNameVar.touched && !lastNameVar.valid }"
            />
          </div>

          <div class="col-md-6 mb-3">
            <label for="firstName">Prenom</label>
            <input
              type="text"
              class="form-control"
              placeholder="Prenom"
              [(ngModel)]="user.firstName"
              name="firstName"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="emailUser">Adresse Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Adresse Email"
              [(ngModel)]="user.emailUser"
              name="emailUser"
            />
          </div>
        </div>
        <!-- alligner a droite  -->
        <div class="text-right">
          <button class="btn btn-info" type="submit">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>
