<a routerLink="/">home</a>
    <a routerLink="article">Article</a>
    <a routerLink="evenements">Evenements</a>
    <a routerLink="/contact">Contact</a> 
<div class="container-body">

<div class="form-container">
  <div class="logo-container">
    <h3>S'enregistrer</h3>
    <img src="../../../assets/images/logo/8.webp" alt="Company Logo">
  </div>
  <form [formGroup]="form">
    <div class="form-group">

        <input type="text" formControlName="name" placeholder="Name"[ngClass]="{ error: nameControl.invalid && nameControl.touched }"
            minlength="2" maxlength="15">
        <div *ngIf="nameControl.touched && nameControl.errors">
            <p *ngIf="nameControl.errors['required']">Le champ est requis.</p>
            <p *ngIf="nameControl.errors['minlength']">Le nom doit faire minimum 2 caractères.</p>
            <p *ngIf="nameControl.errors['maxlength']">Le nom doit faire maximum 15 caractères.</p>
        </div>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Prenom" required>
    </div>
    <div class="form-group">
      <input type="email" placeholder="Email Address" required>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" required>
      <!-- <p class="input-hint">Votre Mots de passe dois contenir A-Z, a-z, 0-9 </p> -->
    </div>
    <div class="form-group">
      <input type="password" placeholder="Confirme-Password" required>
    </div>
    <div class="form-group">
      <button type="submit">Register</button>
    </div>
    <div class="form-footer">
      <p>Vous étent déja enregistrer<a href="/auth/login">Connection</a></p>
    </div>
  </form>
</div>
</div>

