nav {
  /* border: solid red 2px; */
  display: flex;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
}
nav {
  height: 75px;
  background-color: #242424;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.8); /* Ombrage sombre */
  /* News */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligner tout le contenu à droite si vous n'utilisez pas de conteneur spécifique pour les liens */
}

.links-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
nav a {
  
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  text-align: center;
  margin: 5px;
  padding: 14px 16px;
}
.btn-login a {
  height: 16px;
  display: flex;
  align-items: center;
  color: white;
  background: #00bfff;
  /* margin: 15px; */
  gap: 10px;
  border-radius: 30px;
}
.btn-signup a {
  height: 16px;
  display: flex;
  align-items: center;
  color: white;
  border: solid #00bfff 1px;
  border-radius: 30px;
}
nav a:hover {
  border-bottom: 1px solid #00bfff;
}
