nav{
    padding: 10px;
}
#sidemenu{
    list-style: none;
    padding: 0px;
}
#sidemenu ul{
    list-style: none;
    padding: 0px;
}
.simple_link{
    margin-bottom: 8px;
    display: block;
}
a{
    /* text-decoration: none; */
    color: rgb(102, 19, 19);
    
}
li{
    padding: 6px;
}