<nav>
  <a class="simple_link"[routerLink]="['/']">Retour Acceuil</a>
  <ul id="sidemenu">
    <li><a routerLink="dashboard">Dashboard</a></li>
    <li>*** User ***</li>
    <ul>
      <li><a [routerLink]="['user']">Liste des Utilisateurs</a></li>
      <li><a [routerLink]="['user/edit/:id']">Modifier</a></li>
      <li><a [routerLink]="['user/add']">Ajouter</a></li>
      <li><a [routerLink]="['user/delete/:id']">Suprimer</a></li>
    </ul>
    <li>*** Article ***</li>
    <ul>
        <li><a [routerLink]="['article']">liste Des Aticle</a></li>
        <li><a [routerLink]="['article/add']">Ajouter</a></li>
        <li><a [routerLink]="['article/edit/:id']">Modifier</a></li>
        <li><a [routerLink]="['article/delete/:id']">Suprimer</a></li>
      
    </ul>
    <li>*** Evenements ***</li>
    <ul>
      <li><a [routerLink]="['evenement']">liste Des Evenement</a></li>
        <li><a [routerLink]="['evenement/add']">Ajouter</a></li>
        <li><a [routerLink]="['evenement/edit/:id']">Modifier</a></li>
        <li><a [routerLink]="['evenement/delete/:id']">Suprimer</a></li>
    </ul>
  </ul>
</nav>
