/* Styles de base pour la navigation */
nav {
    background-color: #343a40; /* Couleur de fond du menu */
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 
  }


  nav a:hover {
    background-color: #013e7a; /* Effet au survol */
  }
  
  /* Styles pour les listes imbriquées et les éléments de liste */
  nav ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  nav ul ul {
    margin-left: 20px; /* Décalage pour les sous-menus */
    border-left: 2px solid #495057; /* Ligne verticale pour les sous-menus */
  }

  