.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ajouté pour centrer les éléments verticalement */
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  height:65px;
  top: 0;
  z-index: 1000;
}

.navbar img {
  height: 50px; /* Ajustez en fonction de la taille désirée */
  border-radius: 50%;
  cursor: pointer; 
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #002564;

}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1em;
  }
  
  .navbar a {
    margin: 0.5em 0;
  }
}
.container-body{
    /* Définissez votre dégradé ici */
    background: linear-gradient(0deg, #ffffffad, #2574fce1);
    /* S'assurer que l'arrière-plan couvre toute la page */
    min-height: 100vh; 
    background-attachment: fixed;
    /* Ajouter pour que le dégradé s'adapte à toute la page même avec scrolling */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .contain-message{
    color: aliceblue;
    border: white solid 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
  }