.image-top img {
  width: 100%;
  max-height: 900px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  background: #ffffff; /* Changez cette couleur en fonction de votre palette */
  height: 600px;
}

.contact-form {
  width: 60%; /* Ajustez selon votre mise en page */
}

.contact-form h2,
.contact-info h4 {
  color: #2575fc;
  margin-bottom: 0.5em;
}

.contact-form p,
.contact-info p {
  color: #616161;

  margin-bottom: 2em;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc; /* ou toute autre couleur adaptée à votre palette */
}

.contact-form button {
  padding: 0.5em;
  background-color: #2575fc; /* ou toute autre couleur adaptée à votre palette */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #1a5db8; /* une teinte plus foncée de votre couleur principale */
}

.contact-info {
  width: 35%; /* Ajustez selon votre mise en page */
  padding-left: 2em; /* Sépare l'info du formulaire */
}

.contact-info h4 {
  margin-top: 1em;
}

.contact-info p {
  margin-bottom: 0.25em;
}

/* Assurez-vous d'ajouter des styles responsifs pour les petites résolutions */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form,
  .contact-info {
    width: 100%;
  }
}

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #ffffffad, #2574fce1);

  height: 600px;
  border: green dashed 2px;
}
.container-form {
  border: 2px solid yellow;
  min-width: 800px;
}
.map {
  display: flex;
  justify-content: center;
}
