<fieldset>
  <legend><h3>Utilisateurs</h3></legend>
 

<table>
  <thead>
    <th>*Action*</th>
    <!-- <th>id</th> -->
    <th>Photo</th>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Birthday</th>
    <th>Adresse email</th>
    <!-- <th>Role</th> -->
    <!-- <th>EmailConfirmed</th> -->
    <!-- <th>hashedPassword</th>
    <th>Date de création</th> -->
    <th></th>
  </thead>
  <!-- finir pour les autre section -->
  <tbody>
    <tr *ngFor="let user of userList">
      <!-- je lui donne la route ici edit et l object user -->
      <td><a [routerLink]="['edit',user.idUser]" >Modifier</a></td>
      <!-- <td>{{ user.idUser }}</td> -->
      <td>{{ user.idPhoto }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.birthday | date :'dd/mm/yyyy'}}</td>
      <td>{{ user.emailUser }}</td>
      <!-- <td>{{ user.role }}</td> -->
      <!-- <td>{{ user.emailConfirmed }}</td>
      <td>{{ user.hashedPassword }}</td> -->
    </tr>
  </tbody>
</table>
</fieldset>